nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  font-size: 13pt;
  background-color: var(--light-1);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.createLink {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.homeLink {
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--accent-1);
}
