nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  font-size: 13pt;
  background-color: var(--light-1);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  height: 100%;
}

nav a:hover {
  background-color: var(--accent-1);
}
